{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="icon" type="image/png"  href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    
    <title>Informationstechnologie & smart-production</title>
</head>
<body>

    <header>
        <nav>
        
          <div id="menu">
            <div id="menu-toggle">
              <div id="menu-icon">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
            </div>
            <ul class="ss ul">

              <li class="li" style="padding-right: 100px;">
                <img src="{% static 'image/logo.png' %}" class="img">
              </li>
    
              <li class="li" ><a href="#section00">
                <i class="fa fa-bullseye" aria-hidden="true"></i>
                Informationstechnologie & Smart Production
                  </a>
              </li>
    
              <li class="li"><a href="#section01">
                <i class="fa fa-bullseye" aria-hidden="true"></i>
                Rohstoff- und Energietechnik
              </a></li>
    
              <li class="li"><a href="#section02">
                <i class="fa fa-bullseye" aria-hidden="true"></i>
                Material- und Umwelttechnologie
              </a></li>
    
              <li class="li"><a href="#section03">
                <i class="fa fa-bullseye" aria-hidden="true"></i>
                Technische Logistik & Management
              </a></li>
              <li class="li"><a href="#section04">
                <i class="fa fa-bullseye" aria-hidden="true"></i>
                Werkmeisterschulen
              </a></li>
    
               
            </ul>
          </div>
        </nav>
        
      </header>

      <section id="section00">
        <div class="section-one" style="padding-left: 15%; padding-right: 15%; padding-bottom: 15%;">
          <h1 class="h1title">Informationstechnologie & Smart Production</h1>
          <h3 class="h3title">Informationstechnologie und Smart Production - wissen wie alles vernetzt ist!</h3>
  
          <div class="text">
            Wenn du dich immer schon für Computer begeistert hast und lernen willst, 
          wie die digitale Welt funktioniert, dann ist unsere Ausbildung IT und Smart Production genau richtig für dich!
          Zudem bekommst du eine fundierte naturwissenschaftliche Basis und wirtschaftliches Wissen vermittelt, 
          das dich über die reine Informationstechnologie
          hinaus für deinen weiteren Berufsweg oder Studium qualifizieren wird.
          <br> <br>
          Von Anfang an wird auf die enge Verbindung von Theorie und Praxis Wert gelegt!
          Das Smart Production Lab ist voll und ganz der IT gewidmet, wo du viele praktische Aufgaben lösen wirst. 
          Selbst ausprobieren und tun in kleinen Gruppen ist abwechslungsreich und 
          bringt dich Schritt für Schritt näher zum Ziel!
          <br> <br>
          Konkret hast du auf bauend auf „sattelfeste“ Grundlagen die Möglichkeit, 
          dich vertiefend im „iLEvelUp“-Lernformat der HTL Leoben mit für dich interessante 
          Themen zu beschäftigen. Dabei stehen dir im Smart Productionlab folgende „4S- Bereiche zur Auswahl:
          <br> <br>
          <ul>
              <li>Smart Products – Produkt und Prototypenentwicklung</li>
              <li>Smart Services – Schnittstellen und Vernetzung</li>
              <li>Smart Operations – Betrieb und Instandhaltung</li>
              <li>Smart Factories – Logistische Prozesse und Simulation</li>
          </ul>
          <br> <br>
          In Kleingruppen kannst du damit dein Projekt in deiner Geschwindigkeit entwickeln, 
          vernetzt dich mit deinen Kolleginnen und Kollegen und Lehrerinnen und Lehrer stehen dir mit Rat und Tat zur Seite.
          </div>
          <h3 class="h3title">Kompetenzfelder des IT-Schwerpunktes</h3>
          
          <div class="text">
            <ul>
              <li>Informatik und Informationssysteme</li>
              <li>Netzwerktechnik und Verteilte Systeme</li>
              <li>SDatenbanken und Multimedia</li>
              <li>Systemplanung und Projektentwicklung</li>
              <li>Programmieren und Software Engineering</li>
              <li>Smart Production Lab</li>
          </ul>
          </div>

          <h3 class="h3title">Zusatzqualifikationen</h3>
        
          <div class="text">
            <ul>
              <li> <a href="https://www.htl-leoben.at/ausbildung1/sonstige-schulungsmassnahmen/">MikroTik CCNA Zertifikat</a></li>
              <li>Cambridge First Certificate</li>
              <li>Spanisch</li>
              <li>Ersthelfer</li>
              <li>Sicherheitsvertrauensperson</li>
          </ul>
          </div>

          <h3 class="h3title">Ausbildungsdauer und Abschluss</h3>

          <div class="text">
            Ein besonderer Vorteil ist, dass die HTL-Ausbildung zu den berufsbildenden höheren Schulen gehört. 
          Das bedeutet, dass du mit dem Abschluss die Wahl zwischen dem unmittelbaren Einstieg ins Berufsleben und 
          einem Studium an einer Universität, Fachhochschule und anderen tertiären Bildungseinrichtungen hast.
          <br><br>
          Die Ausbildungsdauer beträgt 5 Jahre. Abschließend verfasst du deine Diplomarbeit 
          und legst die Reife- und Diplomprüfung ab.
          </div>
          
          
          <h3 class="h3title">Wie sehen deine beruflichen Möglichkeiten aus?</h3>
          
          <div class="text">
            Mit deiner Ausbildung hast du rund um die IT viele berufliche Möglichkeiten. 
          Von der Netzwerk- und Systembetreuung bis hin zur Software- und 
          Webprogrammierung kannst du deine Schwerpunkte setzen. Durch deine Ausbildung im wirtschaftlich-rechtlichen Bereich 
          sind auch andere betriebliche Bereiche interessant, wie Einkauf und Vertrieb, Controlling und Qualitäts- und Umweltmanagement.
          <br><br>
          IT-Kompetenzen sind gefragter denn je. Die Vernetzung mit dem Internet der Dinge ist ein zukunftsträchtiges Betätigungsfeld, 
          wo dir unabhängig vom Ort die ganze Welt offen steht.
          <br><br>
          </div>
          <h3 class="h3title">Stimme zukünftiger Arbeitgeber</h3>
          
          <div class="text">
            Mit deiner Ausbildung hast du rund um die IT viele berufliche Möglichkeiten. 
          Von der Netzwerk- und Systembetreuung bis hin zur Software- und 
          Webprogrammierung kannst du deine Schwerpunkte setzen. Durch deine Ausbildung im wirtschaftlich-rechtlichen Bereich 
          sind auch andere betriebliche Bereiche interessant, wie Einkauf und Vertrieb, Controlling und Qualitäts- und Umweltmanagement.
          <br><br>
          IT-Kompetenzen sind gefragter denn je. Die Vernetzung mit dem Internet der Dinge ist ein zukunftsträchtiges Betätigungsfeld, 
          wo dir unabhängig vom Ort die ganze Welt offen steht.
          <br><br>

          <div style="padding-top: 30px;">
            <img src="{% static 'image/13.jpeg' %}" width="80%">   
          </div>
          
          </div>
  
          <br><br>
      </div>
      </section>
      
    
      <section id="section01" style="padding-left: 15%; padding-right: 15%; padding-bottom: 15%;">
        <div class="section-two">
          <h1 class="h1title">Rohstoff- und Energietechnik</h1>
          <h3 class="h3title">Rohstoff- und Energietechnik</h3>
  
         <div class="text">
          Vom Sternenstaub – zu den Elementen unserer Erde! Woher kommen denn die vielen Elemente, 
          aus denen unsere Erde besteht? Warum finden wir Gold und Diamanten in Südafrika und Salz im Salzkammergut? 
          Wie hängen die Eisenerzvorkommen mit der Entwicklungsgeschichte der Erde zusammen? 
          Spezielle geologische Bedingungen und erdgeschichtliche Entwicklungen sind dafür verantwortlich, 
          dass es Rohstoffe gibt, die unser modernes Leben erst ermöglichen!
          <br> <br>
  
          Damit diese für uns verfügbar bleiben, ist die Weiterentwicklung von Gewinnungs- und 
          Produktionstechnologien aber auch die Erforschung neuer Rohstoffquellen unerlässlich. 
          Super spannend und unerschöpflich, finden wir Rohstoffe doch auf und unter der Erde, 
          in den Gewässern wie im Meer oder auch im Weltall. Neben den sogenannten primären Rohstoffen (Ressourcen), 
          die sozusagen erstmalig für die Verarbeitung zu Produkten gewonnen werden, wird das Recycling immer wichtiger. 
          „Urban mining“ oder die Stadt als Lagerstätte, welche wertvolle Rohstoffschätze in sich birgt, um nur ein riesiges Themenfeld zu nennen.
          <br> <br>
          
          Vereinfacht ausgedrückt ist der Weg vom Rohstoff zum Produkt und wieder zum Rohstoff als Ausgangsstoff wieder 
          neuer Produkte ein Kreislauf. Dieser Kreislauf wird für die heutige Gesellschaft immer wichtiger! Ein wesentlicher 
          Grund dafür ist der schonende Umgang mit Rohstoffen. Das Ziel ist es, mit unserer Natur und damit unserem Lebensraum 
          verantwortungsvoll umzugehen.
          <br> <br>
  
          Wichtig dabei ist unter anderem auch die Art und Menge der Energie, welche mit der Gewinnung und 
          Verarbeitung von Rohstoffen benötigt wird. Hier spielen alternative Energieformen wie beispielsweise 
          die Energie der Sonne oder die aus dem Inneren der Erde (Geothermie) eine immer wichtigere Rolle. Deshalb hat 
          Energietechnik in Verbindung mit der Rohstoffgewinnung eine besondere Bedeutung.
          <br> <br>
  
          Häuser, Straßen, Smart-TVs, Computer, Flatscreens, Handys, Kosmetika, Farben usw. haben eines gemeinsam – für ihre Herstellung werden  
          Rohstoffe benötigt. Allein in Österreich werden jährlich unglaubliche 100 Millionen Tonnen Rohstoffe verarbeitet!
          <br><br>
          Die Rohstoff- und Energietechnik-Ausbildung an der HTL Leoben wird österreichweit von vielen Betrieben unterstützt! Damit soll sichergestellt werden, 
          dass sich junge Menschen für dieses für die Gesellschaft so wichtige Fachgebiet begeistern und mit einer Jobgarantie rechnen können!
          
        </div>
        <div  style="
        position: relative;
        width: 100%;
        padding-left: 40px;
        ">
          <ul style="list-style-type: none;padding-top: 50px;">
            <li>
              <h3 class="h3title">Raw Materials - The stuff that dreams are made of </h3>
              <iframe src="https://www.youtube.com/embed/LQFEuFX8wa0" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </li>
            <br>

            <li>
              <h3 class="h3title">Mineralische Rohstoffe Insight </h3>
              <iframe  src="https://www.youtube.com/embed/o2hT6Tto-0Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </li>
<br>
            <li>
              <h3 class="h3title">Rohstoffe - der Stoff aus dem die Welt gemacht ist! </h3>
              <iframe  src="https://www.youtube.com/embed/OU2j6XGtrVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </li>

            <br>
            <li>
              <h3 class="h3title">Rohstoffe - Der Glaskreislauf </h3>
              <iframe  src="https://www.youtube.com/embed/5rrvRG756tE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </li>
            <br>

            <li>
              <h3 class="h3title">Final annual Meeting in Bologna - Young Raw MatTERS Ambassadors in action </h3>
              <iframe  src="https://www.youtube.com/embed/I_DyOqid1Nw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </li>

            <br>

            <li>
              <h3 class="h3title">Unsere Schülerinnen und Schüler sind internationale Rohstoffbotschafte </h3>
              <iframe  src="https://www.youtube.com/embed/CK8FwQ4bE-E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </li>



            
          </ul>
        </div>
      </div>

      </section>

      <section id="section02" style="padding-left: 15%; padding-right: 15%; padding-bottom: 15%;">
        <div class="section-three">
          <h1 class="h1title">Material- und Umwelttechnologie</h1>
          <h3 class="h3title">A Materials' World!</h3>
          <h3 class="h3title">Material- und Umwelttechnologie</h3>
  
         <div class="text"> 
          Biologie, Physik und Chemie bilden die Grundlage für technische Verfahren und Anwendungen. 
          Dabei stehen die Auswirkungen auf unsere Umwelt und uns Menschen immer mehr im Vordergrund. 
          Daher beschäftigst du dich in dieser Ausbildung intensiv mit Science, das eng beispielsweise mit Umwelt- und 
          Engergietechnik abgestimmt ist. So lernst du anhand von praktischen Versuchen von Anfang an umfassender auf 
          Lösungen einzugehen.
          <br> <br>
  
          Ab dem 3. Jahr kannst du aus folgenden Bereichen wählen:
          <br> <br>
          <ul>
              <li>Umwelttechnik</li>
              <li>Future Materials und Science</li>
              <li>Metallurgie</li>
          </ul>
          <br> <br>
          
          Hoch hitzefeste Bauteile und Materialen beispielsweise für Anwendungen in der Bohr- und 
          Energietechnik oder um ins All zu fliegen, biokompatible Materialen für den menschlichen Körper, 
          besondere Bauteile für die Auto- und Flugzeugindustrie bis hin zu alltäglichen Anwendungen wie Tablets und 
          Handys sind nur wenige Beispiele, wo besonderes Know-how gefragt ist.
          Auch die Prüfung von Werkstoffen ist Teil deiner Ausbildung. Hier gehst du mit modernen Analysemethoden den 
          Eigenschaften der Materialien auf dem Grund. Wichtig ist bei der Entwicklung auch die Simulation von Eigenschaften am 
          PC, welche in Zukunft eine noch größere Rolle spielen wird.
         </div>

         <div  style="
        position: relative;
        width: 100%;
        padding-left: 40px;
        ">
          <ul style="list-style-type: none;padding-top: 50px;">
            <li>
              <h3 class="h3title"> </h3>
              <iframe src="https://www.youtube.com/embed/VydwMrCnMQ8" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </li>
            <br>
            <li>
              <h3 class="h3title"> </h3>
              <iframe src="https://www.youtube.com/embed/nDcqnMdAGO8" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </li>
            <br>



            
          </ul>
        </div>
      </div>
      </section>

    
      <section id="section03" style="padding-left: 15%; padding-right: 15%; padding-bottom: 15%;">
        <div class="section-four">
        <h1 class="h1title">Technische Logistik & Management</h1>

        <h3 class="h3title">Über den Tellerrand hinaussehen und Wirtschaft mit Technik verbinden!</h3>

        <div class="text">
          Für alle jene, die über den Tellerrand hinaussehen möchten ist die Ausbildung zur technischen Logistikerin und 
        zum technischen Logistiker die richtige Wahl. Dabei lernst du, wie inner- und überbetriebliche Abläufe, die z.B. 
        bei zu beschaffenden Materialien und Produkten sowie deren Herstellung, Lagerung, Transport zum Kunden oder beim 
        Recycling gebraucht werden, im Detail funktionieren und mit einander in Beziehung stehen. Wichtig ist dabei, dass 
        Dinge und Personen so eingesetzt werden, dass man das bestmögliche Ergebnis erreicht. Dafür sind kreative Köpfe 
        gefragt, die sich nicht mit bestehenden Lösungen zufriedengeben, sondern ausprobieren wollen, ob vielleicht ein 
        anderer Weg noch besser wäre. Das nennt man dann optimieren. Wichtig ist dabei, das große Ganze und die Zusammenhänge 
        zu sehen.
        <br> <br>
        n der „Technischen Logistik & Management“ benötigst du demnach sowohl technische als auch wirtschaftliche Kenntnisse und 
        bist von Computer gestützten Anwendungen und Systemen umgeben. Deshalb ist es von Vorteil, wenn du sowohl technisch als 
        auch wirtschaftlich interessiert bist. Dein Vorteil ist dabei, 
        dass die Ausbildung beides beinhaltet und du dich nicht entweder für Technik oder für Wirtschaft entscheiden musst.
        <br> <br>
        Die Ausbildung umfasst neben naturwissenschaftlichen und verfahrenstechnischen Laboratorien u. a. logistikspezifische 
        IT-Laboratorien, wo du mit den neuesten Anwendungen beste Lösungen z.B. hinsichtlich Material- und Geldströme, Betriebs- und 
        Layout-Planung oder optimale Lieferketten im sogenannten Supply-Chain-Management bestimmen kannst.
        <br> <br>

        
        Logistik spielt innerhalb des Betriebes aber auch global eine bedeutende Rolle, sodass die Freude an Fremdsprachen 
        für die spätere Berufslaufbahn von Vorteil sein kann.
        </div>

        <br> <br>
        <h3 class="h3title">Berufsbild der Logistikerin und des Logistikers</h3>
        <h3 class="h3title" style="font-weight: bold;">Berufsbild</h3> 
        <div  class="text">
          Das Aufgabengebiet der technischen Logistikerin/des technischen Logistikers spiegelt sich in allen Lebensabschnitten 
        des Produktes dem sogenannten Produktlebenszyklus der produzierenden, be- und weiterverarbeitenden sowie 
        wiederverwertenden Industrie sowie Dienstleistungsunternehmungen aller Wirtschaftszweige wider.
        <br> <br>
        
        Die nachfolgenden Teilbereiche der Logistik sind mit einander zu einem Kreislauf verbunden: 
        <br> <br>
        <ul>
            <li>Beschaffungslogistik</li>
            <li>Lagerlogistik</li>
            <li>Produktionslogistik</li>
            <li>Transportlogistik</li>
            <li>Ersatzteillogistik</li>
            <li>Instandhaltungslogistik</li>
            <li>Distributionslogistik</li>
            <li>Entsorgungslogistik</li>
            <li>Informationslogistik</li>
        </ul>
        <br> <br>
        Mit deiner Ausbildung bist du in allen Wirtschaftszweigen gefragt!
        </div>


        <div  style="
        position: relative;
        width: 100%;
        padding-left: 40px;
        ">
          <ul style="list-style-type: none;padding-top: 50px;">
            <li>
              <h3 class="h3title"> </h3>
              <iframe src="https://www.youtube.com/embed/y_XhdpWGGeU" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </li>
            <br>
            <li>
              <h3 class="h3title"> </h3>
              <iframe src="https://www.youtube.com/embed/1J0UDTPfSX8" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </li>
            <br>



            
          </ul>
        </div>

    </div>
      </section>

      <section id="section04" style="padding-left: 15%; padding-right: 15%; padding-bottom: 15%;">
        <div class="section-five" >
          <h1 class="h1title">Werkmeisterschulen</h1>
          <h3 class="h3title">Charakter</h3>
          
          <div class="text">
            <ul>
              <li>Beide Ausbildungen besitzen österreichweit Unikatcharakter!</li>
              <li>Seit 1998/99 EU-konforme Abschlussprüfung</li>
          </ul>
          </div>
  
          <h3 class="h3title">Zielgruppe</h3>
          <div class="text">
          <ul>
              <li>Mitarbeiter der einschlägigen metallurgischen Industrie</li>
              <li>Seit 1998/99 EU-konforme Abschlussprüfung</li>
          </ul>
          </div>

          <h3 class="h3title">Exkursionen</h3>
  
          <div class="text">
            Exkursionen zu verschiedenen metallurgischen bzw. stein- und keramischen Betrieben 
          sollen zur Erweiterung der praktischen Erfahrung über das eigene Beschäftigungsfeld hinaus beitragen.
          <br> <br>
  
          Weitere Kurse 1 – 4 Tageskurse vornehmlich im Bereich der metallurgischen 
          Industrie finden Sie unter dem nachfolgenden Link.
          <br> <br>
          <a href="https://www.spezialkursprogramm.at/">siehe Spezialkursprogramm</a>

          <div style="padding-top: 30px;">
            <img src="{% static 'image/111.jpg' %}" width="100%">   
          </div>
          
          </div>
  
      </div>
      </section>

      

    
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
            $( () => {
        
        //On Scroll Functionality
        $(window).scroll( () => {
            var windowTop = $(window).scrollTop();
            windowTop > 100 ? $('nav').addClass('navShadow') : $('nav').removeClass('navShadow');
            windowTop > 100 ? $('ul').css('top','200px') : $('ul').css('top','160px');
        });
        
        //Click Logo To Scroll To Top
        $('#logo').on('click', () => {
            $('html,body').animate({
                scrollTop: 0
            },500);
        });
        
        //Smooth Scrolling Using Navigation Menu
        $('a[href*="#"]').on('click', function(e){
            $('html,body').animate({
                scrollTop: $($(this).attr('href')).offset().top - 100
            },500);
            e.preventDefault();
        });
        
        //Toggle Menu
        $('#menu-toggle').on('click', () => {
            $('#menu-toggle').toggleClass('closeMenu');
            $('ul').toggleClass('showMenu');
            
            $('li').on('click', () => {
                $('ul').removeClass('showMenu');
                $('#menu-toggle').removeClass('closeMenu');
            });
        });
        
    });
        </script>
</body>
</html>