{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="section-one">
        <h1>Informationstechnologie & Smart Production</h1>
        <h3>Informationstechnologie und Smart Production - wissen wie alles vernetzt ist!</h3>

        Wenn du dich immer schon für Computer begeistert hast und lernen willst, 
        wie die digitale Welt funktioniert, dann ist unsere Ausbildung IT und Smart Production genau richtig für dich!
        Zudem bekommst du eine fundierte naturwissenschaftliche Basis und wirtschaftliches Wissen vermittelt, 
        das dich über die reine Informationstechnologie
        hinaus für deinen weiteren Berufsweg oder Studium qualifizieren wird.
        <br> <br>
        Von Anfang an wird auf die enge Verbindung von Theorie und Praxis Wert gelegt!
        Das Smart Production Lab ist voll und ganz der IT gewidmet, wo du viele praktische Aufgaben lösen wirst. 
        Selbst ausprobieren und tun in kleinen Gruppen ist abwechslungsreich und 
        bringt dich Schritt für Schritt näher zum Ziel!
        <br> <br>
        Konkret hast du auf bauend auf „sattelfeste“ Grundlagen die Möglichkeit, 
        dich vertiefend im „iLEvelUp“-Lernformat der HTL Leoben mit für dich interessante 
        Themen zu beschäftigen. Dabei stehen dir im Smart Productionlab folgende „4S- Bereiche zur Auswahl:
        <br> <br>
        <ul>
            <li>Smart Products – Produkt und Prototypenentwicklung</li>
            <li>Smart Services – Schnittstellen und Vernetzung</li>
            <li>Smart Operations – Betrieb und Instandhaltung</li>
            <li>Smart Factories – Logistische Prozesse und Simulation</li>
        </ul>
        <br> <br>
        In Kleingruppen kannst du damit dein Projekt in deiner Geschwindigkeit entwickeln, 
        vernetzt dich mit deinen Kolleginnen und Kollegen und Lehrerinnen und Lehrer stehen dir mit Rat und Tat zur Seite.
        <h3>Kompetenzfelder des IT-Schwerpunktes</h3>
        <br> <br>
        <ul>
            <li>Informatik und Informationssysteme</li>
            <li>Netzwerktechnik und Verteilte Systeme</li>
            <li>SDatenbanken und Multimedia</li>
            <li>Systemplanung und Projektentwicklung</li>
            <li>Programmieren und Software Engineering</li>
            <li>Smart Production Lab</li>
        </ul>
        <h3>Zusatzqualifikationen</h3>
        <br> <br>
        <ul>
            <li>MikroTik CCNA Zertifikat</li>
            <li>Cambridge First Certificate</li>
            <li>Spanisch</li>
            <li>Ersthelfer</li>
            <li>Sicherheitsvertrauensperson</li>
        </ul>
        <h3>Ausbildungsdauer und Abschluss</h3>
        <br><br>
        Ein besonderer Vorteil ist, dass die HTL-Ausbildung zu den berufsbildenden höheren Schulen gehört. 
        Das bedeutet, dass du mit dem Abschluss die Wahl zwischen dem unmittelbaren Einstieg ins Berufsleben und 
        einem Studium an einer Universität, Fachhochschule und anderen tertiären Bildungseinrichtungen hast.
        <br><br>
        Die Ausbildungsdauer beträgt 5 Jahre. Abschließend verfasst du deine Diplomarbeit 
        und legst die Reife- und Diplomprüfung ab.
        <br><br>
        <h3>Wie sehen deine beruflichen Möglichkeiten aus?</h3>
        <br><br>
        Mit deiner Ausbildung hast du rund um die IT viele berufliche Möglichkeiten. 
        Von der Netzwerk- und Systembetreuung bis hin zur Software- und 
        Webprogrammierung kannst du deine Schwerpunkte setzen. Durch deine Ausbildung im wirtschaftlich-rechtlichen Bereich 
        sind auch andere betriebliche Bereiche interessant, wie Einkauf und Vertrieb, Controlling und Qualitäts- und Umweltmanagement.
        <br><br>
        IT-Kompetenzen sind gefragter denn je. Die Vernetzung mit dem Internet der Dinge ist ein zukunftsträchtiges Betätigungsfeld, 
        wo dir unabhängig vom Ort die ganze Welt offen steht.
        <br><br>
        <h3>Stimme zukünftiger Arbeitgeber</h3>
        <br><br>
        „Aufgrund der fortschreitenden Entwicklung der Wirtschaft hinsichtlich Industrie 4.0 und 
        der damit einhergehenden Anforderungsprofile zukünftiger TechnikerInnen sehen wir in dieser Spezialisierung einen großen Vorteil. 
        Das Lösen von technischen Aufgabenstellungen aus dem Bereich der Informationstechnologie unter Einbeziehung betriebswirtschaftlicher Anforderungen wird ein 
        wesentlicher Anforderungsaspekt für die zukünftigen MitarbeiterInnen in der Industrie sein.
        “ Mag. Paul Felsberger, Mitglied des Vorstandes, 
        voestalpine Stahl Donawitz GmbH & Co KG

        <br><br>

        
    </div>
</body>
</html>