/*** Mixins & Default Styles ***/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Nunito', sans-serif;
}

#logo{
    color: #e7e7e7;
}

/*** Color Variables ***/
/*** Centering Hack ***/
/*** Header Styles ***/
header {
    width: 100vw;
    height: 20vh;
    background: #e4e4e4;
    display: flex;
}
/*** Navigation Styles ***/
nav {
    width: 100vw;
    height: 130px;
    background: #e7e7e7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    z-index: 10;
    transition: all 0.3s;
}
nav.navShadow {
    box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
    height: 100px;
}
nav.navShadow #word-mark {
    opacity: 0;
}
#brand, #menu, .ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100vw;
}
#brand {
    padding-left: 40px;
}

/*** Menu Styles ***/

#menu {
    justify-content: flex-end;
    padding-right: 40px;
}
.li {
    margin-left: 20px;
}
.li a {
    width: auto;
    height: 40px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding-left: 10px;
}
#menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}
#menu-toggle:hover .bar {
    width: 25px;
}
#menu-toggle.closeMenu .bar {
    width: 25px;
}
#menu-toggle.closeMenu .bar:first-child {
    transform: translateY(7px) rotate(45deg);
}
#menu-toggle.closeMenu .bar:nth-child(2) {
    transform: scale(0);
}
#menu-toggle.closeMenu .bar:last-child {
    transform: translateY(-7px) rotate(-45deg);
}
.bar {
    width: 25px;
    height: 2px;
    background: #000000;
    transition: 0.3s ease-in-out;
}
.bar:nth-child(2) {
    width: 20px;
    margin: 5px 0;
}
.bar:last-child {
    width: 15px;
}

.ss{
    margin-top: -20px;
}
/*** Hero Section Styles ***/

#head-line {
    width: 520px;
    height: 30px;
    background: #e7e7e7;
    border-radius: 90px;
    position: relative;
}
#head-line:before, #head-line:after {
    content: "";
    height: 30px;
    border-radius: 90px;
}
#head-line:before {
    width: 360px;
    background: #e7e7e7;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translate(-50%, 0);
}
#head-line:after {
    width: 200px;
    background: #e7e7e7;
    position: absolute;
    left: 50%;
    bottom: -60px;
    transform: translate(-50%, 0);
}
/*** Section Styles ***/
section {
    width: 100vw;
    
    display: flex;
   
    justify-content: center;
}
section:nth-child(odd) {
    background: #e4e4e4;
}
section:nth-child(even) {
    background: #e4e4e4;
}
#heading {
    width: 120px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    margin-top: 40px;
}
/*** Responsive Menu For Smaller Device ***/
@media screen and (max-width: 767px) {
    #menu-toggle {
        display: flex;
   }
    .ul {
        display: inline-block;
        width: 100vw;
        height: 0;
        background: #e7e7e7;
        position: absolute;
        top: 160px;
        transform: translate();
        box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
        transition: all 0.3s;
   }
    .ul.showMenu {
        margin-top: -10%;
        height: 100vh;
   }
    .ul.showMenu .li {
        height: 80px;
        opacity: 1;
        visibility: visible;
   }
    .li {
        
        height: 80px;
        float: center;
        padding-left: 50%;
        opacity: 0;
        visibility: hidden;
        margin-left: 0;
        transition: all 0.3s 0.1s;
        margin-top: 10px;
   }
   
    #head-line {
        transform: scale(0.8);
   }
   .vid{
       width: 100%;
   }
   .img{
       
       margin-left: -130px;
       
    
   }
}

.h1title{
    font-weight: bolder;
    font-size: xx-large;
    padding-bottom: 60px;
    padding-top: 30px;
    color: rgb(87, 87, 87);
}

.h3title{
    color: #0063a9;
    padding-bottom: 30px;
}
.text{
    padding-bottom: 15px;
    padding-left: 40px;
}

.section-one{
    text-align: justify;
    text-justify: inter-word; 
}

.section-two{
    text-align: justify;
    text-justify: inter-word; 
}

.section-three{
    text-align: justify;
    text-justify: inter-word; 
}

.section-four{
    text-align: justify;
    text-justify: inter-word; 
}

.section-five{
    text-align: justify;
    text-justify: inter-word; 
}